<div *ngIf="showForms">
    <div class="auth-container">
      <div>
        <button (click)="toggleForms('login')">Belépés</button>
        <button (click)="toggleForms('register')">Regisztráció</button>
      </div>
  
      <div *ngIf="isLoginForm">
        <h2>Belépés</h2>
        <form (ngSubmit)="onLogin()" #loginForm="ngForm">
          <div>
            <label for="login-email">Email:</label>
            <input type="email" id="login-email" [(ngModel)]="loginEmail" name="email" required>
            <div *ngIf="loginForm.controls['email']?.invalid && loginForm.controls['email']?.touched">
              <small *ngIf="loginForm.controls['email']?.errors?.['required']">Email cím megadása kötelező.</small>
              <small *ngIf="loginForm.controls['email']?.errors?.['email']">Érvényes email címet kell megadni.</small>
            </div>
          </div>
          <div>
            <label for="login-password">Jelszó:</label>
            <input type="password" id="login-password" [(ngModel)]="loginPassword" name="password" required>
            <div *ngIf="loginForm.controls['password']?.invalid && loginForm.controls['password']?.touched">
              <small *ngIf="loginForm.controls['password']?.errors?.['required']">Jelszó megadása kötelező.</small>
            </div>
          </div>
          <button type="submit" [disabled]="!loginForm.form.valid" >Belépés</button>
        </form>
      </div>
  
      <div *ngIf="isRegisterForm">
        <h2>Regisztráció</h2>
        <form (ngSubmit)="onRegister()" #registerForm="ngForm">
          <div>
            <label for="register-username">Felhasználónév:</label>
            <input type="text" id="register-username" [(ngModel)]="registerUsername" name="username" required>
            <div *ngIf="registerForm.controls['username']?.invalid && registerForm.controls['username']?.touched">
              <small *ngIf="registerForm.controls['username']?.errors?.['required']">Felhasználónév megadása kötelező.</small>
            </div>
          </div>
          <div>
            <label for="register-email">Email:</label>
            <input type="email" id="register-email" [(ngModel)]="registerEmail" name="email" required email>
            <div *ngIf="registerForm.controls['email']?.invalid && registerForm.controls['email']?.touched">
              <small *ngIf="registerForm.controls['email']?.errors?.['required']">Email cím megadása kötelező.</small>
              <small *ngIf="registerForm.controls['email']?.errors?.['email']">Érvényes email címet kell megadni.</small>
            </div>
          </div>
          <div>
            <label for="register-password">Jelszó:</label>
            <input type="password" id="register-password" [(ngModel)]="registerPassword" name="password" required minlength="6">
            <div *ngIf="registerForm.controls['password']?.invalid && registerForm.controls['password']?.touched">
              <small *ngIf="registerForm.controls['password']?.errors?.['required']">Jelszó megadása kötelező.</small>
              <small *ngIf="registerForm.controls['password']?.errors?.['minlength']">A jelszónak legalább 6 karakter hosszúnak kell lennie.</small>
            </div>
          </div>
          <button type="submit" [disabled]="!registerForm.form.valid">Regisztráció</button>
        </form>
      </div>
    </div>
  </div>