<div class="search-container">
  <div class="p-inputgroup search-bar">
      <p class="inline-block align-middle"> Keresés név szerint: </p>
      <span class="p-inputgroup-addon">
          <i class="pi pi-search"></i>
      </span>
      <input type="text" pInputText placeholder="Keresés..." (input)="onSearch($event)">
  </div>


  <p-multiSelect [options]="allergens" optionLabel="nev" optionValue="id" [(ngModel)]="selectedAllergens" (onChange)="filterRecipes()" [filter]="false" placeholder="Allergén szűrő" class="allergen-filter"></p-multiSelect>
  <button pButton type="button" icon="pi pi-plus" label="Új recept hozzáadása" (click)="navigateToCreateRecipe()"></button>
  <button pButton type="button" label="Összes recept" (click)="navigateBack()"></button>
  <button pButton type="button" label="Kijelentkezés" (click)="logout()"></button>
</div>

<p-table [value]="filteredRecipes" [paginator]="true" [rows]="3" [rowsPerPageOptions]="[3, 5, 8]" sortMode="multiple" [responsive]="true" class="custom-table">
  <ng-template pTemplate="header">
      <tr>
          <th pSortableColumn="cim">Cím <p-sortIcon field="cim"></p-sortIcon></th>
          <th pSortableColumn="leiras">Leírás <p-sortIcon field="leiras"></p-sortIcon></th>
          <th>Hozzávalók</th>
          <th>Allergének</th>
          <th>Műveletek</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-recept>
      <tr>
          <td>{{ recept.cim }}</td>
          <td>{{ recept.leiras }}</td>
          <td>
              <ul class="ingredient-list">
                  <li *ngFor="let hozzavalo of recept.hozzavalok">
                      {{ hozzavalo.anyag.nev }} - {{ hozzavalo.mennyiseg }} {{ hozzavalo.egyseg }}
                  </li>
              </ul>
          </td>
          <td>
              <div *ngFor="let allergen of recept.allergenek" class="allergen-item">
                  <img [src]="allergen.iconUrl" alt="{{ allergen.nev }}" title="{{ allergen.nev }}" class="allergen-icon">
                  <span>{{ allergen.nev }}</span>
              </div>
          </td>
          <td>
            <button pButton type="button" icon="pi pi-trash" class="p-button-danger" (click)="confirmDelete(recept.id)"></button>
            
            <button pButton class="successButton" type="button" icon="pi pi-pencil" (click)="editRecipe(recept.id)"></button>
          </td>
      </tr>
  </ng-template>
</p-table>

<p-confirmDialog></p-confirmDialog>

