
<input type="text" (input)="onSearch($event)" placeholder="Keresés...">
<button (click)="showReceptek()">Receptek listázása</button>
<button routerLink="/auth">Regisztráció/Belépés</button>

<div class="recept-s" *ngIf="showList">
  <div class="recept-tiles">
    <div class="card flex justify-content-center">
      <p-scroller
        [items]="szurtReceptek"
        [itemSize]="150"
        [showLoader]="true"
        [delay]="250"
        [loading]="lazyLoading"
        [lazy]="true"
        (onLazyLoad)="onLazyLoad($event)"
        styleClass="border-1 surface-border"
        [style]="{'width': '500px', 'height': '300px'}">
        <ng-template pTemplate="item" let-item let-options="options">
          <div
            class="flex align-items-center p-2"
            [ngClass]="{ 'surface-ground': options.odd }"
            style="height: 150px;">
            <p-card>
              <ng-template pTemplate="title">
                <h3>{{ item.cim }}</h3>
              </ng-template>
              <div class="allergen-icons">
                <div *ngFor="let allergen of item.allergenek" class="allergen-icon-container">
                  <img [src]="allergen.iconUrl" alt="{{ allergen.nev }}" width="24" height="24" class="allergen-icon">
                  <p class="allergen-name">{{ allergen.nev }}</p>
                </div>
              </div>
            </p-card>
          </div>
        </ng-template>
      </p-scroller>
    </div>
  </div>
</div>




