@tailwind base;
@tailwind components;
@tailwind utilities;

.recept-s {
  width: 95%;
  margin: 20px auto;
}

.recept-tiles {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.allergen-icon-container {
  position: relative;
  display: inline-block;
}

.allergen-name {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px;
  z-index: 1;
}

.allergen-icon-container:hover .allergen-name {
  display: block;
}

.allergen-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.card {
  display: flex;
  justify-content: center;
}

.p-card {
  width: 100%;
}

button {
  padding:10px;
  border-radius: 10px;
  background-color: #11b10e;
  color: white;
}

button:hover{
  text-decoration: underline;
  background-color: #0b7009;
}

input{
  border-radius: 10px;
  color: white;
  background-color: #979797;
}

input:focus{
  border-color: #0b7009;
}