<div class="edit-recipe-container">
    <div class="header">
        <h2>Recept szerkesztése</h2>
        <button type="button" class="close-button" (click)="navigateToUserPage()">×</button>
    </div>
    <form class="form" [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Recept neve</label>
            <input id="name" formControlName="name" type="text" class="form-control"/>
            <div *ngIf="recipeForm.get('name')?.invalid && (recipeForm.get('name')?.dirty || recipeForm.get('name')?.touched)">
                <small class="p-error">A név megadása kötelező.</small>
            </div>
        </div>
        <div class="form-group">
            <label for="description">Leírás</label>
            <textarea id="description" formControlName="description" class="form-control"></textarea>
            <div *ngIf="recipeForm.get('description')?.invalid && (recipeForm.get('description')?.dirty || recipeForm.get('description')?.touched)">
                <small class="p-error">A leírás megadása kötelező.</small>
            </div>
        </div>
        <div formArrayName="ingredients" *ngFor="let ingredient of ingredients.controls; let i = index" class="ingredient-group">
            <div [formGroupName]="i" class="ingredient-item">
                <div class="form-group">
                    <label for="baseIngridientId">Hozzávaló</label>
                    <p-dropdown formControlName="baseIngridientId" [options]="baseIngredients" optionLabel="nev" optionValue="id" placeholder="Válassz hozzávalót"></p-dropdown>
                    <div *ngIf="ingredients.controls[i].get('baseIngridientId')?.invalid && (ingredients.controls[i].get('baseIngridientId')?.dirty || ingredients.controls[i].get('baseIngridientId')?.touched)">
                        <small class="p-error">A hozzávaló megadása kötelező.</small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="quantity">Mennyiség</label>
                    <input formControlName="quantity" type="number" class="form-control"/>
                    <div *ngIf="ingredients.controls[i].get('quantity')?.invalid && (ingredients.controls[i].get('quantity')?.dirty || ingredients.controls[i].get('quantity')?.touched)">
                        <small class="p-error">A mennyiség megadása kötelező.</small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="unit">Mértékegység</label>
                    <input formControlName="unit" type="text" class="form-control"/>
                    <div *ngIf="ingredients.controls[i].get('unit')?.invalid && (ingredients.controls[i].get('unit')?.dirty || ingredients.controls[i].get('unit')?.touched)">
                        <small class="p-error">A mértékegység megadása kötelező.</small>
                    </div>
                </div>
                <div class="form-group button-group">
                    <button type="button" class="remove-ingredient-button" (click)="removeIngredient(i)">Hozzávaló eltávolítása</button>
                </div>
            </div>
        </div>
        <div class="buttonContainer">
            <button type="button" class="add-ingredient-button" (click)="addIngredient()">Új hozzávaló hozzáadása</button>
        </div>
        <div *ngIf="ingredientsError">
            <small class="p-error">Legalább egy hozzávalót hozzá kell adni.</small>
        </div>
        <div class="file-upload-container">
            <label for="coverImage" class="file-input-label">Borítókép kiválasztása</label>
            <input id="coverImage" type="file" (change)="onFileSelected($event)" class="file-input">
            <button type="button" class="file-input-label" (click)="clearCoverImage()">Borítókép törlése</button>
        </div>
        <div style="display: flex; gap: 16px; margin-top: 16px;">
            <button pButton type="submit" class="save-button" icon="pi pi-save" [disabled]="recipeForm.invalid">Mentés</button>
            <button pButton type="button" class="back-button" icon="pi pi-arrow-left" (click)="navigateToUserPage()">Vissza</button>
        </div>
    </form>
</div>
